@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;

  --color-zinc-850: #1f2023;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-primary-400: #a3e635;
  --color-primary-500: #84cc16;
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #18181b;
}
::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}
